# Ignore node modules and npm debug logs
node_modules/
npm-debug.log
package-lock.json

# Ignore operating system files
Thumbs.db
.DS_Store_

# Ignore build output directories
.vitepress/dist/
.vitepress/cache/